{% load static %}
{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCIT | {% block title %}Registro de Votos{% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- AOS Animate -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- SweetAlert2 CSS -->
    <!-- Agregar el CDN de SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.min.js"></script>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static '/assets/css/styles.min.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- AOS Animate -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <style>
        tr {
            border-color: #18314f6b;
        }
        .btn{
            border-radius: 25px;
        }

        .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item>.sidebar-link.active {
            border-radius: 25px;
        }
        
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item>.sidebar-link:hover {
            border-radius: 25px;
            background-color: #a7adba;
            color: #18314F;
            padding-left: 18px;
        }
        .body-wrapper .container-fluid{
            max-width: 1500px;
        }
        /* Definimos la animación "zoom-in" */
        @keyframes zoomIn {
        from {
            opacity: 0;
            transform: scale(0.8);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
        }

        /* Clase base para aplicar la animación */
        .zoom-in {
        /* Puedes ajustar el retraso o la duración según necesites */
        animation: zoomIn 0.5s ease forwards;
        }
    </style>
</head>
<body>
    {% if messages %}
        {% for m in messages %}
            {% if m.tags == 'success' %}
                <script>
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "success",
                        title: "¡Éxito!",
                        text: "{{m}}",
                    });
                </script>
            {% elif m.tags == 'error' %}
                <script>
                    Swal.fire({
                        title: "Algo Salió Mal :(",
                        text: "{{m}}",
                        icon: "{{m.tags}}",
                        confirmButtonColor: "#57647D",
                        focusConfirm: false,
                    });
                </script>
            {% elif m.tags == 'warning' %}
                <script>
                    Swal.fire({
                        title: "Atención",
                        text: "{{m}}",
                        icon: "{{m.tags}}",
                        confirmButtonColor: "#FDBD15",
                        focusConfirm: false,
                    });
                </script>
            {% elif m.tags == 'info' %}
                <script>
                    Swal.fire({
                        title: "Información",
                        text: "{{m}}",
                        icon: "{{m.tags}}",
                        confirmButtonColor: "#18314F",
                        focusConfirm: false,
                    });
                </script>
            {% elif m.tags == 'debug' %}
                <script>
                    Swal.fire({
                        title: "Mensaje Técnico",
                        text: "{{m}}",
                        icon: "{{m.tags}}",
                        confirmButtonColor: "#18314F",
                        focusConfirm: false,
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
     <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="{% url 'home' %}" class="text-nowrap logo-img">
                    <img class="rounded-circle" width="50" src="{% static '/img/logo.png' %}" alt="logo" style="margin-right: 7px" />
                    PEOPLE CCIT
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                        <span class="hide-menu">CCIT</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'home' %}" aria-expanded="false">
                            <iconify-icon icon="solar:widget-add-line-duotone"></iconify-icon>
                            <span class="hide-menu">Inicio</span>
                        </a>
                    </li>
                    {% for grupo in user_grupos %}
                        {% if grupo.name == "visitas_recepcion_group" or grupo.name == "admin_group" or grupo.name == 'super_admin' %}    
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">GESTIÓN DE VISITAS</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'inicio_recepcion' 'buscar_inicio_recepcion' 'ingresar_visita_agendada' %}" href="{% url 'inicio_recepcion' %}" aria-expanded="false">
                                    <iconify-icon icon="material-symbols:home-rounded"></iconify-icon>
                                    <span class="hide-menu">Inicio</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'visitas_recepcion' 'buscar_visitas_recepcion' 'nueva-visita' %}" href="{% url 'visitas_recepcion' %}" aria-expanded="false">
                                    <iconify-icon icon="f7:person-2-fill"></iconify-icon>
                                    <span class="hide-menu">Visitas</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'eventos_capacitaciones' 'detalles_evento_visitas' 'detalles_evento' 'buscar_eventos_recepcion' %}" href="{% url 'eventos_capacitaciones' %}" aria-expanded="false">
                                    <iconify-icon icon="streamline:class-lesson-solid"></iconify-icon>
                                    <span class="hide-menu">Eventos</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'pases_recepcion' %}" href="{% url 'pases_recepcion' %}" aria-expanded="false">
                                    <iconify-icon icon="ion:id-card"></iconify-icon>
                                    <span class="hide-menu">Pases</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% for grupo in user_grupos %}
                        {% if grupo.name == "visitas_colaborador_group" or grupo.name == 'visitas_it_group' or grupo.name == "super_admin" %}
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">MIS VISITAS</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'colaboradores_home' 'buscar_inicio_colaborador' %}" href="{% url 'colaboradores_home' %}" aria-expanded="false">
                                    <iconify-icon icon="material-symbols:home-rounded"></iconify-icon>
                                    <span class="hide-menu">Inicio</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'visitas_colaborador' 'buscar_visitas_colaborador' 'colaboradores-nueva-visita' 'salida_mea_visita' 'detalle_visita_agendada' 'detalle_visita_dentro' 'nueva-visita-agendada' 'editar_visita_agendada' %}" href="{% url 'visitas_colaborador' %}" aria-expanded="false">
                                    <iconify-icon icon="f7:person-2-fill"></iconify-icon>
                                    <span class="hide-menu">Visitas</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'eventos_capacitaciones_colaborador' 'buscar_eventos_colaborador' 'nuevo_evento' 'actualizar_participante' 'detalles_evento_visitas' 'detalles_evento' %}" href="{% url 'eventos_capacitaciones_colaborador' %}" aria-expanded="false">
                                    <iconify-icon icon="streamline:class-lesson-solid"></iconify-icon>
                                    <span class="hide-menu">Eventos</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% for grupo in user_grupos %}
                        {% if grupo.name == "rrhh_it" or grupo.name == "rrhh_admin" or grupo.name == "super_admin" %}
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">GESTIÓN DE ASISTENCIAS</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'home_rrhh' %}" href="{% url 'home_rrhh' %}" aria-expanded="false">
                                    <iconify-icon icon="material-symbols:home-rounded"></iconify-icon>
                                    <span class="hide-menu">Inicio</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'listar_colaboradores' %}" href="{% url 'listar_colaboradores' %}" aria-expanded="false">
                                    <iconify-icon icon="f7:person-2-fill"></iconify-icon>
                                    <span class="hide-menu">Colaboradores</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'listar_asistencias' %}" href="{% url 'listar_asistencias' %}" aria-expanded="false">
                                    <iconify-icon icon="iconamoon:clock-fill"></iconify-icon>
                                    <span class="hide-menu">Asistencias</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'reporte_colaboradores' %}" href="{% url 'reporte_colaboradores' %}" aria-expanded="false">
                                    <iconify-icon icon="mage:file-2-fill"></iconify-icon>
                                    <span class="hide-menu">Reporte de Horas</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'horarios_laborales' %}" href="{% url 'horarios_laborales' %}" aria-expanded="false">
                                    <iconify-icon icon="solar:calendar-bold"></iconify-icon>
                                    <span class="hide-menu">Horarios Laborales</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'listar_usuarios' %}" href="{% url 'listar_usuarios' %}" aria-expanded="false">
                                    <iconify-icon icon="ion:id-card"></iconify-icon>
                                    <span class="hide-menu">Usuarios (Biométrico)</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% for grupo in user_grupos %}
                        {% if grupo.name == "visitas_it_group" or grupo.name == "super_admin" %}
                            <li>
                                <span class="sidebar-divider lg"></span>
                            </li>
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">GESTIÓN</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'user_list' 'buscar_user' 'edit_user' 'delete_user' 'reset_user_password' 'create_user' 'cambiar_estado_usuario' 'reset_password' 'change_password_reset' %}" href="{% url 'user_list' %}" aria-expanded="false">
                                    <iconify-icon icon="lsicon:user-crowd-outline"></iconify-icon>
                                    <span class="hide-menu">Usuarios</span>
                                </a>
                            </li>
                            <!-- <li class="sidebar-item">
                                <a class="sidebar-link {% active 'colaboradores' %} " href="{% url 'colaboradores' %}" aria-expanded="false">
                                    <iconify-icon icon="clarity:employee-group-solid"></iconify-icon>
                                    <span class="hide-menu">Colaboradores</span>
                                </a>
                            </li> -->
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'pases' 'buscar_pase' 'crear_pase' 'editar_pase' %}" href="{% url 'pases' %}" aria-expanded="false">
                                    <iconify-icon icon="ion:id-card"></iconify-icon>
                                    <span class="hide-menu">Pases</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'motivos' %}" href="{% url 'motivos' %}" aria-expanded="false">
                                    <iconify-icon icon="icon-park-outline:setting-web"></iconify-icon>
                                    <span class="hide-menu">Motivos</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'acciones' %}" href="{% url 'acciones' %}" aria-expanded="false">
                                    <iconify-icon icon="ant-design:setting-filled"></iconify-icon>
                                    <span class="hide-menu">Acciones</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link {% active 'listar_servicios' %}" href="{% url 'listar_servicios' %}" aria-expanded="false">
                                    <iconify-icon icon="typcn:warning"></iconify-icon>
                                    <span class="hide-menu">Estado de servicios</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <span class="sidebar-divider lg"></span>
                    </li>
                </ul>
            </nav>
        <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler " id="headerCollapse" href="javascript:void(0)">
                    <i class="ti ti-menu-2"></i>
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <small style="font-size: smaller; margin-right: 7px;">
                                {{request.user.first_name}} {{request.user.last_name}}
                            </small>
                            <img src="{% static '/img/home/user.png' %}" alt="" width="35" height="35" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                                <a href="{% url 'inicio_recepcion' %}" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-user fs-6"></i>
                                    <p class="mb-0 fs-3">Mi Perfil</p>
                                </a>
                                <a href="{% url 'inicio_recepcion' %}" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-mail fs-6"></i>
                                    <p class="mb-0 fs-3">Ajuste de cuenta</p>
                                </a>
                                <a href="{% url 'logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Cerrar Sesión</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--  Header End -->
     <!--  Header End -->
            <div class="body-wrapper-inner">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            {% block content %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/assets/js/sidebarmenu.js' %}"></script>
    <script src="{% static '/assets/js/app.min.js' %}"></script>
    <script src="{% static '/assets/libs/simplebar/dist/simplebar.js' %}"></script>

    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

    <!-- AOS Animate -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Configuración Global -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Inicializar AOS Animate
            AOS.init();
        });
    </script>
    <script>
        document.querySelectorAll('a[data-bs-toggle="tab"]').forEach(tab => {
            tab.addEventListener('shown.bs.tab', function (event) {
                AOS.refresh();
            });
        });
    </script>
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function() {
            let today = new Date().toISOString().split("T")[0]; // Obtener la fecha actual en formato YYYY-MM-DD
            document.querySelectorAll('input[type="date"]').forEach(input => {
                input.setAttribute("min", today);
            });
        });
    </script> -->
</body>
</html>