{% extends 'layout/layout.html' %}
{% block title %} Visitas {% endblock %}
{% block content %}
{% load static %}
{% load dict_extras %}
<style>
    .card-visita-dentro {
        box-shadow: 0px 0px 10px 2px #18314f86;
    }
    .card-visita-dentro:hover {
        box-shadow: 0px 0px 20px 2px #18314f86;
    }
    .btn-outline-secondary {
        font-size: 0.9rem;
    }
</style>
<div>
    <div class="mb-3 row d-flex justify-content-between">
        <div class="col">
            <h4>Visitas & Eventos Hoy</h4>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col">
                    <form action="{% url 'buscar_inicio_colaborador' %}" class="d-flex">
                        {% csrf_token %}
                        <input type="search" class="form-control" name="q" id="search_visita" placeholder="Buscar visitante..." value="{{query}}">
                    </form>
                </div>
                <div class="col-auto d-flex justify-content-between">
                    <a class="btn btn-secondary  d-flex col-auto" style="margin-right: 7px;" href="{% url 'nuevo_evento' %}">
                        <span><i class='bx bxs-user-account'></i></span>
                        <span class="d-none d-md-block ms-2">Nuevo Evento</span>
                    </a>
                    <a class="btn btn-success d-flex col-auto" href="{% url 'colaboradores-nueva-visita' %}">
                        <span><i class='bx bxs-user-plus'></i></span>
                        <span class="d-none d-md-block ms-2">Agendar Visita</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link d-flex active" data-bs-toggle="tab" href="#v_dentro" role="tab">
                <span><i class='bx bx-run'></i></span>
                <span class="d-none d-md-block ms-2">Visitas Dentro</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" data-bs-toggle="tab" href="#v_agendada" role="tab">
                <span><i class='bx bx-male-female'></i></span>
                <span class="d-none d-md-block ms-2">Visitas Agendadas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" data-bs-toggle="tab" href="#eventos_capacitaciones" role="tab">
                <span><i class='bx bx-globe'></i></i> </span>
                <span class="d-none d-md-block ms-2">Eventos/Capacitaciones</span>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="v_dentro" role="tabpanel">
            <div class="row p-3">
                {% for visita in resultados_visitas %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="card hover-img card-visita-dentro">
                        <div class="card-body p-2 text-center border-none">
                            <img src="{% static '/assets/images/profile/user-3.jpg' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                            <h4 class="card-title mb-1">{{visita.visitante}}</h4>
                            <div class=" mb-1 row">
                                <span class="fs-2">{{visita.persona_visitada}}</span>
                            </div>
                            <span class="badge text-bg-success text-white"><i class='bx bxs-time' ></i> {{visita.hora_ingreso}}</span>
                        </div>
                        <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                            <!-- <li class="position-relative"> -->
                            <button class="btn btn-light btn-sm text-secondary d-flex align-items-center justify-content-center text-center fs-3" data-bs-toggle="modal" data-bs-target="#cambiarPaseVisitante{{visita.id}}" style="margin-right: 4px;">
                                <i class='bx bxs-user-badge' style="margin-right: 4px;"></i> Pase
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="cambiarPaseVisitante{{visita.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <form action="{% url 'cambiar_pase' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar pase a visitante</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link d-flex active" data-bs-toggle="tab" href="#nuevoPaseVisitante{{visita.id}}" role="tab">
                                                            <span><i class='bx bx-barcode-reader'></i></span>
                                                            <span class="d-none d-md-block ms-2">Pase</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            <!-- Tabs -->
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="nuevoPaseVisitante{{visita.id}}" role="tabpanel">
                                                        <table class="table table-bordered table-hover table-sm" id="tabla-pases">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Pase Entregado</th>
                                                                    <th>Lugares Acceso</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% if visita.num_pase %}
                                                                {% for p in pases %}
                                                                    {% if p.numero_pase == visita.num_pase %}
                                                                    <tr>
                                                                        <td>{{ p.numero_pase }}</td>
                                                                        <td>{{ p.lugares_acceso }}</td>
                                                                    </tr>
                                                                    {% endif %}
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="4">No se encuentra información de el pase entregado</td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% else %}
                                                                <tr>
                                                                    <td colspan="4">No se encuentra un pase entregado</td>
                                                                </tr>
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                        <br>
                                                        <h5>Seleccione el nuevo pase a entregar</h5>
                                                        <table class="table table-bordered table-hover table-sm" id="tabla-pases">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Número Pase</th>
                                                                    <th>Lugar de Acceso</th>
                                                                    <th>Estado</th>
                                                                    <th>Seleccionar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% if pases_disponibles > 0 %}
                                                                    {% for pase in pases %}
                                                                        {% if pase.estado_pase == 'Disponible' %}
                                                                            <tr>
                                                                                <td>{{ pase.numero_pase }}</td>
                                                                                <td>{{ pase.lugares_acceso }}</td>
                                                                                <td>{{ pase.estado_pase }}</td>
                                                                                <td>
                                                                                    <input type="radio" name="pase_seleccionado" value="{{ pase.numero_pase }}">
                                                                                </td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% else %}
                                                                    <tr>
                                                                        <td colspan="4">No hay pases disponibles</td>
                                                                    </tr>
                                                                {% endif %}
                                                            </tbody>
                                                        </table> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" name="id" value="{{visita.id}}">
                                                <input type="hidden" name="pase_actual" value="{{visita.num_pase}}">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Cambiar pase</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-danger btn-sm text-white d-flex align-items-center justify-content-center text-center fs-3" data-bs-toggle="modal" data-bs-target="#registrarSalidaVisitante{{visita.id}}">
                                <i class='bx bx-log-out' style="margin-right: 4px;"></i> Salida
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="registrarSalidaVisitante{{visita.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <form action="{% url 'salida_visita' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar salida de visita</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link d-flex active" data-bs-toggle="tab" href="#visitantesVisita{{visita.id}}" role="tab">
                                                            <span><i class='bx bx-male-female'></i></span>
                                                            <span class="d-none d-md-block ms-2">Visitante/Visitantes</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link d-flex" data-bs-toggle="tab" href="#documentoIdentificacion{{visita.id}}" role="tab">
                                                            <span><i class='bx bx-id-card'></i></span>
                                                            <span class="d-none d-md-block ms-2">Documento de Identificación</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link d-flex" data-bs-toggle="tab" href="#pertenenciasVisitantes{{visita.id}}" role="tab">
                                                            <span><i class='bx bx-package'></i></i> </span>
                                                            <span class="d-none d-md-block ms-2">Materiales/Equipos/Articulos</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link d-flex" data-bs-toggle="tab" href="#paseVisitante{{visita.id}}" role="tab">
                                                            <span><i class='bx bx-barcode-reader'></i></span>
                                                            <span class="d-none d-md-block ms-2">Pase</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            <!-- Tabs -->
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="visitantesVisita{{visita.id}}" role="tabpanel">
                                                        <table class="table table-bordered table-hover table-sm" id="tabla-asistencia">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Nombre Visitante</th>
                                                                    <th>Documento de Identificación</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for cod, info in visitas_info.items %}
                                                                {% for v in info.visitantes %}
                                                                    {% if v.cod_visita == visita.cod_visita %}
                                                                        <tr>
                                                                            <td class="col-6">{{v.nombre}}</td>
                                                                            <td class="col-6">{{v.documento_identificacion}}</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="2">No hay visitantes</td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="tab-pane" id="pertenenciasVisitantes{{visita.id}}" role="tabpanel">
                                                        <table class="table table-bordered table-hover table-sm" id="tabla-material">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Nombre Visitante</th>
                                                                    <th>Entrada</th>
                                                                    <th>Salida</th>
                                                                    <th>Doc. Soporte</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for cod, info in visitas_info.items %}
                                                                {% for p in info.pertenencias %}
                                                                    {% if p.cod_visita == visita.cod_visita %}
                                                                        <tr>
                                                                            <td class="col-auto">{{ visitante_por_documento|dict_get:p.identificacion_visitante }}</td>
                                                                            <td class="col-auto">{{p.pertenencias_entrada}}</td>
                                                                            <td class="col-auto">
                                                                                {% if p.pertenencias_salida %}
                                                                                    <input type="text" name="pertenencias_salida_{{ p.id }}" class="form-control pertenencias-salida" value="{{p.pertenencias_salida}}">
                                                                                {% else %}
                                                                                    <input type="text" name="pertenencias_salida_{{ p.id }}" class="form-control pertenencias-salida">
                                                                                {% endif %}
                                                                            </td>
                                                                            <td class="col-auto">
                                                                                {% if p.documento_soporte %}
                                                                                    <div class="mt-1">
                                                                                        <a href="{{ p.documento_soporte.url }}" target="_blank" class="btn btn-success btn-sm small"><i class='bx bxs-file'></i> Ver archivo</a>
                                                                                    </div>
                                                                                {% else %}
                                                                                    <label class="btn btn-outline-success btn-sm">
                                                                                        <i class='bx bxs-file-plus'></i> Cargar
                                                                                        <input type="file" name="doc_soporte_{{ p.id }}" class="d-none doc-soporte-input">
                                                                                    </label>
                                                                                {% endif %}
                                                                            </td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% empty %}           
                                                                <tr>
                                                                    <td colspan="4">No hay registros para mostrar</td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="tab-pane" id="documentoIdentificacion{{visita.id}}" role="tabpanel">
                                                        {% if visita.foto_documento_identificacion %}
                                                            <div class="row d-flex justify-content-center align-items-center m-3">
                                                                <img src="{{ visita.foto_documento_identificacion.url }}" alt="Foto Documento" style="width:80%;">
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    <div class="tab-pane" id="paseVisitante{{visita.id}}" role="tabpanel">
                                                        <table class="table table-bordered table-hover table-sm" id="tabla-pases">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th>Número Pase</th>
                                                                    <th>Lugares Acceso</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% if visita.num_pase %}
                                                                {% for p in pases %}
                                                                    {% if p.numero_pase == visita.num_pase %}
                                                                    <tr>
                                                                        <td>{{ p.numero_pase }}</td>
                                                                        <td>{{ p.lugares_acceso }}</td>
                                                                    </tr>
                                                                    {% endif %}
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="4">No se encuentra información de el pase entregado</td>
                                                                </tr>
                                                                {% endfor %}
                                                            {% else %}
                                                                <tr>
                                                                    <td colspan="4">No se encuentra un pase entregado</td>
                                                                </tr>
                                                            {% endif %}
                                                            </tbody>
                                                        </table>                
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" name="cod_visita" value="{{visita.cod_visita}}">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-danger">Regitrar Salida</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
                {% empty %}
                <div class="col-12 text-center text-secondary">
                    No se encuentra el visitante <b>{{query}}</b> dentro hoy
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane" id="v_agendada" role="tabpanel">
            <div class="row p-3">
                <h5>Agendadas hoy</h5>
                {% for visita in visitas_agendadas_result %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="card hover-img card-visita-dentro">
                        <div class="card-body p-2 text-center border-none">
                            <img src="{% static '/assets/images/profile/user-3.jpg' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                            <h4 class="card-title mb-1">{{visita.visitante}}</h4>
                            <div class=" mb-1 row">
                                <span class="fs-2">{{visita.persona_visitada}}</span>
                            </div>
                            <span class="badge text-bg-light text-secondary">
                                <i class='bx bxs-calendar'></i> {{visita.fecha_visita | date:'d/m/Y' }}
                                <i class='bx bxs-time' ></i> {{visita.hora_ingreso}}
                            </span>
                        </div>
                        <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                            <li class="position-relative">
                                <a class="btn btn-secondary btn-sm text-white d-flex align-items-center justify-content-center text-center fs-3" href="{% url 'ingresar_visita_agendada' visita.id %}">
                                    <i class='bx bx-log-in' style="margin-right: 4px;"></i> Entrada
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% empty %}
                    <div class="col-12 text-center text-secondary">
                        No se encuentra el visitante <b>{{query}}</b> agendado hoy
                    </div>
                {% endfor %}
            </div>

            <!-- <div class="row p-3">
                <h5>Próximas visitas</h5>
                {% for visita in visitas_agendadas %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="card hover-img card-visita-dentro">
                        <div class="card-body p-2 text-center border-none">
                            <img src="{% static '/assets/images/profile/user-3.jpg' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                            <h4 class="card-title mb-1">{{visita.visitante}}</h4>
                            <div class=" mb-1 row">
                                <span class="fs-2">{{visita.persona_visitada}}</span>
                            </div>
                            <span class="badge text-bg-light text-secondary">
                                <i class='bx bxs-calendar'></i> {{visita.fecha_visita | date:'d/m/Y' }}
                                <i class='bx bxs-time' ></i> {{visita.hora_ingreso}}
                            </span>
                        </div>
                        <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                            <li class="position-relative">
                                <a class="btn btn-secondary btn-sm text-white d-flex align-items-center justify-content-center text-center fs-3" href="{% url 'ingresar_visita_agendada' visita.id %}">
                                    <i class='bx bx-log-in' style="margin-right: 4px;"></i> Entrada
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% empty %}
                    <div class="col-12 text-center text-secondary">
                        No hay visitas agendadas
                    </div>
                {% endfor %}
            </div> -->
        </div>

        <div class="tab-pane" id="eventos_capacitaciones" role="tabpanel">
            <div class="row p-3">
                <h5>Eventos Hoy</h5>
                {% for evento in resultados_eventos %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card hover-img card-visita-dentro">
                            <div class="card-body p-2 text-center border-none">
                                <img src="{% static '/img/eventos.png' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                                <h4 class="card-title mb-1">{{evento.nombre}}</h4>
                                <div class=" mb-1 row">
                                    <span class="fs-2">{{evento.organizador}}</span>
                                </div>
                                <span class="badge text-bg-light text-secondary">
                                    <i class='bx bxs-calendar'></i> {{evento.fecha | date:'d/m/Y' }}
                                    <i class='bx bxs-time'></i> {{evento.hora_inicio}} - {{evento.hora_fin}} 
                                </span>
                            </div>
                            <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                                <li class="position-relative">
                                    <a class="btn btn-light btn-sm text-secondary d-flex align-items-center justify-content-center text-center fs-3" href="{% url 'detalles_evento' evento.id %}">
                                        <i class='bx bx-show' style="margin-right: 4px;"></i> Detalles
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 text-center text-secondary">
                        No se encuentra el participante <b>{{query}}</b> en un evento hoy
                    </div>
                {% endfor %}
            </div>
    
            <!-- <div class="row p-3">
                <h5>Próximos Eventos</h5>
                {% for evento in resultados_eventos %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card hover-img card-visita-dentro">
                            <div class="card-body p-2 text-center border-none">
                                <img src="{% static '/img/eventos.png' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                                <h4 class="card-title mb-1">{{evento.nombre}}</h4>
                                <div class=" mb-1 row">
                                    <span class="fs-2">{{evento.organizador}}</span>
                                </div>
                                <span class="badge text-bg-light text-secondary">
                                    <i class='bx bxs-calendar'></i> {{evento.fecha | date:'d/m/Y' }}
                                    <i class='bx bxs-time'></i> {{evento.hora_inicio}} - {{evento.hora_fin}} 
                                </span>
                            </div>
                            <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                                <li class="position-relative">
                                    <a class="btn btn-light btn-sm text-secondary d-flex align-items-center justify-content-center text-center fs-3" href="{% url 'detalles_evento_visitas' evento.id %}">
                                        <i class='bx bx-show' style="margin-right: 4px;"></i> Ver Evento
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12 text-center text-secondary">
                        No hay eventos para los próximos días
                    </div>
                {% endfor %}
            </div> -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    
        // Función para sincronizar la tabla de materiales con la de visitantes
        function sincronizarMateriales() {
            var tbodyMaterial = $('#tabla-material tbody');
            tbodyMaterial.empty();  // Limpiar la tabla de materiales
            // Recorrer cada fila de visitantes
            $('#tabla-asistencia tbody tr').each(function(){
                var nombre = $(this).find('.nuevo-nombre').text().trim();
                var documento = $(this).find('.nuevo-documento').text().trim();
                // Crear una fila en la tabla de materiales
                var filaMaterial = `<tr>
                    <td>${nombre}</td>
                    <td>${documento}</td>
                    <td contenteditable="true" class="nuevo-equipo" placeholder="Equipo/Material/Artículo"></td>
                </tr>`;
                tbodyMaterial.append(filaMaterial);
            });
        }
    
        // Función para recopilar datos de la tabla de visitantes y almacenarlos en un input hidden
        function recopilarVisitantes() {
            var visitantes = [];
            $('#tabla-asistencia tbody tr').each(function(){
                var nombre = $(this).find('.nuevo-nombre').text().trim();
                var documento = $(this).find('.nuevo-documento').text().trim();
                if(nombre || documento){  // Solo incluir filas con datos
                    visitantes.push({nombre: nombre, documento: documento});
                }
            });
            $('#visitantes_data').val(JSON.stringify(visitantes));
        }
    
        // Función para recopilar datos de la tabla de materiales antes de enviar el formulario
        function recopilarMateriales() {
            var materiales = [];
            $('#tabla-material tbody tr').each(function(){
                var nombre = $(this).find('td').eq(0).text().trim();
                var documento = $(this).find('td').eq(1).text().trim();
                var equipo = $(this).find('.nuevo-equipo').text().trim();
                if(nombre || documento || equipo){
                    materiales.push({nombre: nombre, documento: documento, equipo: equipo});
                }
            });
            $('#materiales_data').val(JSON.stringify(materiales));
        }
    
        // Al enviar el formulario, se recopilan los datos de ambas tablas
        $('form').submit(function(){
            recopilarVisitantes();
            recopilarMateriales();
        });
    
        // Actualizar la tabla de materiales cuando se pierda el foco en celdas de la tabla de visitantes
        $('#tabla-asistencia').on('blur', '.nuevo-nombre, .nuevo-documento', function(){
            sincronizarMateriales();
        });
    
        // Evento para agregar una nueva fila manualmente (botón "Agregar fila")
        $('#btn-agregar-fila').click(function(e) {
            e.preventDefault();
            // Crear una nueva fila con celdas editables y botón para eliminar
            var nuevaFila = $('<tr></tr>');
            nuevaFila.append('<td contenteditable="true" class="nuevo-nombre" placeholder="Nombre..."></td>');
            nuevaFila.append('<td contenteditable="true" class="nuevo-documento" placeholder="Documento..."></td>');
            nuevaFila.append('<td><button type="button" class="btn btn-danger btn-sm eliminar-fila">Eliminar</button></td>');
            $('#tabla-asistencia tbody').append(nuevaFila);
        });
    
        // Evento para eliminar una fila de la tabla de visitantes
        $('#tabla-asistencia').on('click', '.eliminar-fila', function(){
            $(this).closest('tr').remove();
            sincronizarMateriales();
        });
    
        // Búsqueda AJAX: al escribir en el input se consulta visitantes
        $('#buscar-visitante').on('input', function(){
            var query = $(this).val().trim();
            var resultadosDiv = $('#resultados-visitante');
            if(query.length > 2){
                $.ajax({
                    url: '{% url "buscar_visitante_ajax" %}',
                    type: 'GET',
                    data: { 'q': query },
                    success: function(response){
                        resultadosDiv.empty();
                        response.forEach(function(visitante){
                            resultadosDiv.append(
                            '<div class="resultado" data-id="'+ visitante.id +'" data-nombre="'+ visitante.nombre +'" data-documento="'+ visitante.documento +'">'+ visitante.nombre +'</div>'
                            );
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX error:", error);
                    }
                });
            } else {
                resultadosDiv.empty();
            }
        });
    
        // Al hacer clic en un resultado, se agrega el visitante a la tabla de asistentes
        $('#resultados-visitante').on('click', '.resultado', function(){
            var nombre = $(this).data('nombre');
            var documento = $(this).data('documento');
    
            // Verificar que el documento no se haya ingresado ya en la tabla
            var duplicado = false;
            $('#tabla-asistencia tbody tr').each(function(){
                var docExistente = $(this).find('.nuevo-documento').text().trim();
                if(docExistente === documento){
                    duplicado = true;
                    return false; // Salir del each si se encontró duplicado
                }
            });
    
            if(duplicado) {
                Swal.fire({
                    title: "Información",
                    text: "El documento de identidad ya se encuentra en la lista.",
                    icon: "info",
                    confirmButtonText: "Aceptar"
                });
                // Limpiar el input y los resultados
                $('#resultados-visitante').empty();
                $('#buscar-visitante').val('');
                return;
            }
    
            // Intentar insertar en una fila vacía
            var inserted = false;
            $('#tabla-asistencia tbody tr').each(function(){
                var currentNombre = $(this).find('.nuevo-nombre').text().trim();
                var currentDocumento = $(this).find('.nuevo-documento').text().trim();
                if(currentNombre === "" && currentDocumento === ""){
                    $(this).find('.nuevo-nombre').text(nombre);
                    $(this).find('.nuevo-documento').text(documento);
                    inserted = true;
                    return false; // Salir del each
                }
            });
            // Si no se encontró fila vacía, agregar nueva fila
            if(!inserted) {
                var nuevaFila = $('<tr></tr>');
                nuevaFila.append('<td contenteditable="true" class="nuevo-nombre">' + nombre + '</td>');
                nuevaFila.append('<td contenteditable="true" class="nuevo-documento">' + documento + '</td>');
                nuevaFila.append('<td><button type="button" class="btn btn-danger btn-sm eliminar-fila">Eliminar</button></td>');
                $('#tabla-asistencia tbody').append(nuevaFila);
            }
            
            sincronizarMateriales();
            $('#resultados-visitante').empty();
            $('#buscar-visitante').val('');
        });
    
    });
</script> 
{% endblock %}