{% extends 'layout/layout.html' %}
{% block title %} Ver visita dentro {% endblock %}
{% block content %}
{% load static %}
<style>
    .input-visita{
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0px;
        padding-left: 2px;
    }
    .busqueda-container {
        position: relative;
        width: 50%;
    }

    #buscar-visitante {
        width: 100%;
    }

    #resultados-visitante {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #57647D;
        border: none;
        z-index: 9999;
        max-height: 200px;
        overflow-y: auto;
        color: #fff;
    }

    .resultado {
        padding: 8px 10px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
    }

    .resultado:hover {
        background-color: #d5d5d5;
        color: #18314F;
    }
</style>
<div>
    <div class="mb-3 row d-flex" style="border-bottom: 1px solid #000; padding-bottom: 15px;">
        <div class="col" style="display: flex; flex-direction: column; justify-content: flex-end;">
            <h4>Visita {{visita.cod_visita}}</h4>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            <button type="submit" form="formNewVisita" class="btn btn-primary col-auto">
                <i class='bx bxs-save'></i> Registrar Visita
            </button>
        </div>
    </div>


</div>   
{% endblock %}