{% extends 'layout/layout.html' %}
{% block title %} Eventos {% endblock %}
{% block content %}
{% load static %}
<style>
    .card-visita-dentro {
        /* border: 1px solid #18314F; */
        box-shadow: 0px 0px 10px 2px #18314f86;
    }
    .card-visita-dentro:hover {
        /* border: 1px solid #18314F; */
        box-shadow: 0px 0px 20px 2px #18314f86;
    }
</style>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link d-flex active" data-bs-toggle="tab" href="#eventos_capacitaciones" role="tab">
                <span><i class='bx bx-globe'></i></i> </span>
                <span class="d-none d-md-block ms-2">Eventos/Capacitaciones</span>
            </a>
        </li>
    </ul>

    <div class="tab-pane" id="eventos_capacitaciones" role="tabpanel">
        <div class="row p-3">
            <div class="mb-3 row d-flex">
                <form action="{% url 'buscar_eventos_recepcion' %}" class="d-flex">
                    <input type="search" class="form-control" name="q" id="search_visita" placeholder="Buscar evento/participante..." style="border-radius: 15px 0px 0px 15px; width: 40%;">
                    <select class="form-select busqueda_visita" name="persona_visitada" id="persona_visitada" style="border-radius: 0px; width: 18%;">
                        <option selected>Colaborador</option>
                        {% for user in users %}
                            <option value="{{user.username}}">{{user.first_name}} {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                    <input type="date" class="form-control" name="fecha" id="fecha" style="border-radius: 0px; width: 15%;">
                    <button type="submit" class="btn btn-secondary" style="border-radius: 0px 15px 15px 0px;">
                        <i class='bx bx-search-alt'></i>
                    </button>
                </form>
            </div>

            <h5>Eventos Hoy</h5>
            {% for evento in eventos_hoy %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card hover-img card-visita-dentro">
                        <div class="card-body p-2 text-center border-none">
                            <img src="{% static '/img/eventos.png' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                            <h4 class="card-title mb-1">{{evento.nombre}}</h4>
                            <div class=" mb-1 row">
                                <span class="fs-2">{{evento.organizador.first_name}} {{evento.organizador.last_name}}</span>
                            </div>
                            <span class="badge text-bg-light text-secondary">
                                <i class='bx bxs-calendar'></i> {{evento.fecha | date:'d/m/Y' }}
                                <i class='bx bxs-time'></i> {{evento.hora_inicio}} - {{evento.hora_fin}} 
                            </span>
                        </div>
                        <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                            <li class="position-relative">
                                <a class="btn btn-light btn-sm text-secondary d-flex align-items-center justify-content-center text-center fs-3" href="{% url 'detalles_evento' evento.id %}">
                                    <i class='bx bx-show' style="margin-right: 4px;"></i> Detalles
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    No hay eventos hoy
                </div>
            {% endfor %}
        </div>

        <div class="row p-3">
            <h5>Próximos Eventos</h5>
            {% for evento in eventos_proximos %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card hover-img card-visita-dentro">
                        <div class="card-body p-2 text-center border-none">
                            <img src="{% static '/img/eventos.png' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                            <h4 class="card-title mb-1">{{evento.nombre}}</h4>
                            <div class=" mb-1 row">
                                <span class="fs-2">{{evento.organizador.first_name}} {{evento.organizador.last_name}}</span>
                            </div>
                            <span class="badge text-bg-light text-secondary">
                                <i class='bx bxs-calendar'></i> {{evento.fecha | date:'d/m/Y' }}
                                <i class='bx bxs-time'></i> {{evento.hora_inicio}} - {{evento.hora_fin}} 
                            </span>
                        </div>
                        <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                            <li class="position-relative">
                                <a class="btn btn-light btn-sm text-secondary d-flex align-items-center justify-content-center text-center fs-3" href="{% url 'detalles_evento_visitas' evento.id %}">
                                    <i class='bx bx-show' style="margin-right: 4px;"></i> Ver Evento
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    No hay eventos en los próximos días
                </div>
            {% endfor %}
        </div>

        <div class="row p-3">
            <h5>Eventos Anteriores</h5>
            {% for evento in eventos_anteriores %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <div class="card hover-img card-visita-dentro">
                        <div class="card-body p-2 text-center border-none">
                            <img src="{% static '/img/eventos.png' %}" alt="matdash-img" class="rounded-circle mb-3" width="80" height="80">
                            <h4 class="card-title mb-1">{{evento.nombre}}</h4>
                            <div class=" mb-1 row">
                                <span class="fs-2">{{evento.organizador.first_name}} {{evento.organizador.last_name}}</span>
                            </div>
                            <span class="badge text-bg-light text-secondary">
                                <i class='bx bxs-calendar'></i> {{evento.fecha | date:'d/m/Y' }}
                                <i class='bx bxs-time'></i> {{evento.hora_inicio}} - {{evento.hora_fin}} 
                            </span>
                        </div>
                        <ul class="px-2 py-2 list-unstyled d-flex align-items-center justify-content-center mb-0">
                            <li class="position-relative">
                                <a class="btn btn-light btn-sm text-secondary d-flex align-items-center justify-content-center text-center fs-3" href="{% url 'detalles_evento_visitas' evento.id %}">
                                    <i class='bx bx-show' style="margin-right: 4px;"></i> Ver Evento
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    No hay eventos anteriores
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}