{% extends 'layout/layout.html' %}
{% block title %} Pases {% endblock %}
{% block content %}
{% load static %}
<style>
/* Links */
.text-link {
    color: #18314F;
    text-decoration: none;
}
.text-link:hover {
    text-decoration: underline;
}

/* Contenedor del input */
.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

/* Estilos del input */
.input-container input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background: transparent;
    transition: border-color 0.3s ease;
}

/* Estilos del label */
.input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

/* Efecto flotante: cuando el input está enfocado o tiene contenido */
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 0; /* Se posiciona sobre el borde */
    left: 10px;
    font-size: 14px;
    color: #18314F;
}

/* Remueve la sombra azul y el blur */
.input-container input:focus {
    border-color: #18314F;
    outline: none;
    box-shadow: none;
}

/* Ajuste del fondo del label */
.input-container label::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 10px);
    height: 10px;
    background: white;
    z-index: -1;
}

/* Ajustes para el modal de SweetAlert2 */
.swal2-container {
    z-index: 2050 !important; /* Aseguramos que se muestre encima */
}

/* Estilos generales para el switch */
.ios-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.ios-switch input {
    opacity: 0; /* Ocultamos el checkbox real */
    width: 0;
    height: 0;
    position: absolute;
}

.ios-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Estilo del círculo del switch */
.ios-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

/* Estilos cuando el switch está activado */
.ios-switch input:checked + .slider {
    background-color: #4CAF50; /* Color verde cuando está activado */
}

.ios-switch input:checked + .slider:before {
    transform: translateX(26px); /* Mueve el círculo hacia la derecha */
}

/* Efecto de hover para mejorar la interacción */
.ios-switch .slider:hover {
    background-color: #45a049;
}

/* Estilos para el estado desactivado */
.ios-switch input:not(:checked) + .slider {
    background-color: #ccc; /* Color gris cuando está desactivado */
}
</style>
<div>
    <div class="mb-3 row d-flex justify-content-between" data-aos="zoom-in">
        <div class="col-auto">
            <h3>Pases de Acceso</h3>
        </div>
        <div class="col-6">
            <form action="{% url 'buscar_pase_recepcion' %}" class="d-flex">
                <input type="search" class="form-control" name="q" id="search_visita" placeholder="Buscar pase..." style="border-radius: 15px 0px 0px 15px;" {% if query %} value="{{query}}" {% endif %}>
                <select class="form-select busqueda_visita" name="estado_pase" id="estado_pase" style="border-radius: 0px; width: 25%;">
                    <option selected>Estado</option>
                    <option value="Disponible">Disponible</option>
                    <option value="En uso">En uso</option>
                    <option value="Extraviado">Extraviado</option>
                    <option value="Malo">Dañado</option>
                </select>
                <button type="submit" class="btn btn-secondary" style="border-radius: 0px 15px 15px 0px;">
                    <i class='bx bx-search-alt'></i>
                </button>
            </form>
        </div>
    </div>

    <table class="table table-hover table-sm" data-aos="zoom-in">
        <thead>
            <tr>
                <th>N.</th>
                <th>Número Pase</th>
                <th>Lugares Acceso</th>
                <th>Estado Pase</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pase in pases %}
                <tr>
                    <td class="col-auto">{{ forloop.counter }}</td>
                    <td class="col-auto">{{ pase.numero_pase }}</td>
                    <td class="col-auto">{{ pase.lugares_acceso }}</td>
                    <td class="col-auto">{{ pase.estado_pase }}</td>
                    <td class="col-auto">
                        <button class="btn btn-light btn-sm text-danger" data-url="{% url 'delete_user' user.id %}" data-bs-toggle="modal" data-bs-target="#modalEliminarPase{{pase.id}}">
                            <i class='bx bxs-no-entry'></i> Reportar pase
                        </button>
                    </td>
                </tr>
    
                <!-- Modal para eliminar usuario (solo visible si el usuario es Super Admin) -->
                <div class="modal fade" id="modalEliminarPase{{pase.id}}" tabindex="-1" aria-labelledby="modalEliminarUsuarioLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <form method="POST" action="{% url 'reportar_pase' pase.id %}">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalEliminarUsuarioLabel">Reportando pase <b>{{pase.numero_pase}}</b></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3 row">
                                        <div class="col-auto">
                                            <label for="exampleFormControlInput1" class="form-label">Tipo de Reporte</label>
                                            <select class="form-select" aria-label="Default select example" name="estado_pase">
                                                <option selected>Seleccione un estado...</option>
                                                <option value="Perdido">Perdido</option>
                                                <option value="Dañado">Dañado</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <div class="col">
                                            <label for="exampleFormControlTextarea1" class="form-label">Motivo del estado</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="comentario_reporte"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-light">Reportar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No hay pases para mostrar.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
document.querySelectorAll('.pase-status').forEach(function(switchElement) {
    switchElement.addEventListener('change', function() {
        // Primero obtenemos el paseId del atributo data-pase-id
        var paseId = this.getAttribute('data-pase-id');
        console.log("paseId:", paseId);
        // Si el switch está marcado, se considerará "activo"; de lo contrario, "inactivo"
        var newEstado = this.checked ? 'activo' : 'inactivo';

        // Obtener CSRF Token
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]')?.value ||
                          document.querySelector('meta[name="csrf-token"]')?.getAttribute('content');
        if (!csrfToken) {
            console.error("CSRF token no encontrado.");
            Swal.fire({
                title: 'Error',
                text: 'CSRF Token no encontrado, no se puede completar la solicitud.',
                icon: 'error'
            });
            // Revertir el cambio
            switchElement.checked = !switchElement.checked;
            return;
        }

        // Confirmar la acción con SweetAlert
        Swal.fire({
            title: 'Advertencia',
            text: `El pase ahora estará ${newEstado}. ¿Desea continuar?`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, continuar',
            confirmButtonColor: "#18314F",
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Realizar la petición AJAX usando fetch a la URL correcta
                fetch(`/pases/cambiar_estado_pase/${paseId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({ estado: newEstado })
                }).then(response => {
                    if (!response.ok) {
                        if (response.status === 403) {
                            throw new Error("No tienes permiso para cambiar el estado del pase.");
                        } else if (response.status === 404) {
                            throw new Error("Pase no encontrado.");
                        }
                        throw new Error("Error en el servidor.");
                    }
                    return response.json();
                }).then(data => {
                    if (!data.success) throw new Error(data.message);
                    Swal.fire({
                        title: 'Éxito',
                        text: `El estado del pase ha sido actualizado a ${newEstado} correctamente.`,
                        icon: 'success',
                        confirmButtonColor: "#FDBD15",
                    });
                }).catch(error => {
                    // Revertir el cambio en el switch en caso de error
                    switchElement.checked = !switchElement.checked;
                    Swal.fire({
                        title: 'Error',
                        text: error.message,
                        icon: 'error'
                    });
                });
            } else {
                // Si se cancela, revertir el cambio
                switchElement.checked = !switchElement.checked;
            }
        });
    });
});
</script>
{% endblock %}