{% extends 'layout/layout.html' %}
{% block title %} Inicio {% endblock %}
{% block content %} 
{% load static %} 
{% if messages %}
  {% for m in messages %}
    {% if m.tags == 'success' %}
      <script>
        Swal.fire({
          title: "LISTO!",
          text: "{{m}}",
          icon: "{{m.tags}}",
          showConfirmButton: false,
          timer: 2500,
        });
      </script>
    {% elif m.tags == 'error' %}
      <script>
        Swal.fire({
          title: "{{m.tags}}",
          text: "{{m}}",
          icon: "{{m.tags}}",
          confirmButtonColor: "#57647D",
          focusConfirm: false,
        });
      </script>
    {% elif m.tags == 'warning' %}
      <script>
        Swal.fire({
          title: "ADVERTENCIA",
          text: "{{m}}",
          icon: "{{m.tags}}",
          confirmButtonColor: "#FDBD15",
          focusConfirm: false,
        });
      </script>
    {% elif m.tags == 'info' %}
      <script>
        Swal.fire({
          title: "{{m.tags|upper}}",
          text: "{{m}}",
          icon: "{{m.tags}}",
          confirmButtonColor: "#18314F",
          focusConfirm: false,
        });
      </script>
    {% elif m.tags == 'debug' %}
      <script>
        Swal.fire({
          title: "{{m.tags|upper}}",
          text: "{{m}}",
          icon: "{{m.tags}}",
          confirmButtonColor: "#18314F",
          focusConfirm: false,
        });
      </script>
    {% endif %}
  {% endfor %}
{% endif %}
<style>
  /* Imagen del usuario */
  .login-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #18314f;
  }

  /* Botón de login */
  .btn-custom {
    background-color: #18314f;
    color: white;
    border-radius: 8px;
  }

  .btn-custom:hover {
    background-color: #bababa;
    color: #18314f;
    border: 1px solid #18314f;
  }

  /* Links */
  .text-link {
    color: #18314f;
    text-decoration: none;
  }

  .text-link:hover {
    text-decoration: underline;
  }

  /* Contenedor del input */
  .input-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }

  /* Estilos del input */
  .input-container input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background: transparent;
    transition: border-color 0.3s ease;
  }

  /* Estilos del label */
  .input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  /* Efecto flotante: cuando el input está enfocado o tiene contenido */
  .input-container input:focus+label,
  .input-container input:not(:placeholder-shown)+label {
    top: 0;
    /* Se posiciona sobre el borde */
    left: 10px;
    font-size: 14px;
    color: #18314f;
  }

  /* Remueve la sombra azul y el blur */
  .input-container input:focus {
    border-color: #18314f;
    outline: none;
    box-shadow: none;
  }

  /* Ajuste del fondo del label */
  .input-container label::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 10px);
    height: 10px;
    background: white;
    z-index: -1;
  }

  /* Estilos del select */
  .input-container select {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    /* Bordes redondeados */
    outline: none;
    font-size: 16px;
    background: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
    /* Quita el diseño nativo del navegador */
    cursor: pointer;
  }

  /* Flecha personalizada para el select */
  .input-container::after {
    /* content: '\25BC'; */
    font-size: 16px;
    color: #888;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Evita que interfiera con el select */
  }

  /* Estilos del label para select */
  .input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }

  /* Efecto flotante: cuando el select está enfocado o tiene una opción seleccionada */
  .input-container select:focus+label,
  .input-container select:not(:placeholder-shown)+label {
    top: 0;
    /* Se posiciona sobre el borde */
    left: 10px;
    font-size: 14px;
    color: #18314f;
  }

  /* Estilo cuando el select está enfocado */
  .input-container select:focus {
    border-color: #18314f;
    outline: none;
    box-shadow: 0 0 5px rgba(24, 49, 79, 0.3);
  }

  /* Ajuste del fondo del label */
  .input-container label::before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% + 10px);
    height: 10px;
    background: white;
    z-index: -1;
  }

  .btn-go-back {
    border-radius: 20px 0 0 20px;
    margin-right: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .btn-go-back:hover {
    color: #265d9f;
  }
</style>
<div class="col-6" style="margin: 0 auto; border: 1px solid #18314f; border-radius: 20px; padding: 15px;" data-aos="zoom-in">
  <h3 class="mb-3 text-center">Nuevo Usuario</h3>
  <form method="POST">
    {% csrf_token %}
    <div class="input-container">
      <input type="text" name="username" id="username" class="form-control" placeholder=" " required />
      <label for="username" class="form-label">Usuario</label>
    </div>

    <!-- Campo para seleccionar el rol (grupo) -->
    <div class="input-container mb-3">
      <select name="groups[]" multiple required>
        <option value="" hidden>Seleccione los roles</option>
        {% for group in groups %}
          <option value="{{ group.name }}">{{ group.name }}</option>
        {% endfor %}
      </select>
      <label for="select">Seleccione los roles</label>
    </div>    

    <div class="input-container mb-3">
      <input type="text" name="first_name" id="first_name" class="form-control" placeholder=" " required />
      <label for="first_name" class="form-label">Nombre</label>
    </div>

    <div class="input-container mb-3">
      <input type="text" name="last_name" id="last_name" class="form-control" placeholder=" " required />
      <label for="last_name" class="form-label">Apellido</label>
    </div>

    <div class="input-container mb-3">
      <input type="email" name="email" id="email" class="form-control" placeholder=" " required />
      <label for="email" class="form-label">Correo Electrónico</label>
    </div>

    <div class="input-container mb-3">
      <input type="text" name="pin" id="pin" class="form-control" placeholder=" " required />
      <label for="pin" class="form-label">PIN</label>
    </div>

    <div class="input-container mb-3">
      <input type="password" name="password" id="password" class="form-control" placeholder=" " required />
      <label for="password" class="form-label">Contraseña</label>
    </div>

    <div class="row d-flex justify-content-end">
      <a class="btn btn-secondary col-auto m-1" href="{% url 'user_list' %}">Cancelar</a>
      <button type="submit" class="btn btn-primary col-auto m-1 d-flex align-items-center"><i class='bx bxs-save' style='margin-right: 7px;' ></i> Crear Usuario</button>
    </div>
  </form>
</div>
{% endblock %}