{% extends 'layout/layout.html' %}
{% block title %} Crear evento {% endblock %}
{% block content %}
{% load static %}
<style>
    .input-visita{
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0px;
        padding-left: 2px;
    }
    .busqueda-container {
        position: relative;
        width: 50%;
    }

    #buscar-visitante {
        width: 100%;
    }

    #resultados-visitante {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #57647D;
        border: none;
        z-index: 9999;
        max-height: 200px;
        overflow-y: auto;
        color: #fff;
    }

    .resultado {
        padding: 8px 10px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
    }

    .resultado:hover {
        background-color: #d5d5d5;
        color: #18314F;
    }
</style>
<div class="container my-4">
    <div class="mb-3 row d-flex justify-content-between" style="border-bottom: 1px solid #000; padding-bottom: 15px;" data-aos="zoom-in">
        <div class="col">
            <h4>{{ evento.nombre }} - {{ evento.organizador }} </h4>
        </div>
        {% for grupo in user_grupos %}
            {% if grupo.name == "visitas_colaborador_group" or grupo.name == 'visitas_it_group' or grupo.name == "super_admin" %}
                <div class="col d-flex justify-content-end align-items-center">
                    <a class="btn btn-warning text-secondary" href="{% url 'editar_evento' evento.id %}">
                        <i class='bx bx-calendar-edit' style="margin-right: 4px;"></i> Editar evento
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="mb-3 row" data-aos="zoom-in">
        <div class="col-md-3">
            <label class="form-label">Fecha de Evento</label>
            <input type="text" name="fecha" class="form-control" value="{{ evento.fecha }}" readonly>
        </div>
        <div class="col-md-3">
            <label class="form-label">Hora de Inicio</label>
            <input type="text" name="hora_inicio" class="form-control" value="{{ evento.hora_inicio }}" readonly>
        </div>
        <div class="col-md-3">
            <label class="form-label">Hora de Fin</label>
            <input type="text" name="hora_fin" class="form-control" value="{{ evento.hora_fin }}" readonly>
        </div>
        <div class="col-md-3">
            <label class="form-label">Cantidad Participantes</label>
            <input type="text" name="cantidad" class="form-control" value="{{ evento.cantidad_visitantes }}" readonly>
        </div>
    </div>
    
    <!-- Tab de Participantes -->
    <ul class="nav nav-tabs" role="tablist" data-aos="zoom-in">
        <li class="nav-item">
            <a class="nav-link d-flex active" data-bs-toggle="tab" href="#participantes" role="tab">
                <span><i class='bx bx-male-female'></i></span>
                <span class="d-none d-md-block ms-2">Participantes</span>
            </a>
        </li>
    </ul>
    
    <div class="tab-content my-3" data-aos="zoom-in">
        <!-- Tab: Participantes Manuales -->
        <div class="tab-pane active" id="participantes" role="tabpanel">
            <table class="table table-bordered table-hover table-sm" id="tabla-asistencia">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Documento de Identificación</th>
                    </tr>
                </thead>
                <tbody id="tabla-asistencia-body">
                    {% if participantes_evento %}
                        {% for participante in participantes_evento %}
                            <tr data-participante-id="{{ participante.id }}">
                                <td contenteditable="true" class="nuevo-nombre" placeholder="Nombre...">{{ participante.nombre_visitante }}</td>
                                <td contenteditable="true" class="nuevo-documento" placeholder="Documento...">{{ participante.documento_identificacion }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td contenteditable="true" class="nuevo-nombre" placeholder="Nombre..."></td>
                            <td contenteditable="true" class="nuevo-documento" placeholder="Documento..."></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <input type="hidden" name="visitantes_data" id="visitantes_data">
        </div>
    </div>
</div>
{% endblock %}